@charset "UTF-8";

.btn_type10 {
	width: 100px;
	height: 30px;
	background-color: #004982;
	font-size: 15px;
	color: #fff;
	font: 나눔바른고딕;
	margin: 5px 10px 10px 20px;
}

.btn_type20 {
	width: 400px;
	height: 50px;
	background-color: #004982;
	font-size: 20px;
	color: white;
	font: 나눔바른고딕;
}

.btn_type30 {
	width: 80px;
	height: 30px;
	background-color: #004982;
	font-size: 20px;
	color: white;
	font: 나눔바른고딕;
}

.btn_type40 {
	width: 80px;
	height: 30px;
	background-color: #004982;
	margin-top: 50px;
	font-size: 20px;
	color: white;
	font: 나눔바른고딕;
}

.btn_type50 {
	width: 300px;
	height: 50px;
	background-color: #004982;
	margin-top: 30px;
	font-size: 15px;
	color: white;
	font: 나눔바른고딕;
}

.btn_type60 {
	width: 300px;
	height: 50px;
	background-color: white;
	margin-top: 30px;
	font-size: 15px;
	color: black;
	font: 나눔바른고딕;
}

.btn_type70 {
	width: 100px;
	height: 50px;
	background-color: #004982;
	color: white;
	font-size: 15px;
	font: 나눔바른고딕;
}

.btn_type80 {
	width: 100px;
	height: 30px;
	background-color: #004982;
	margin: 30px;
	font-size: 15px;
	color: white;
	font: 나눔바른고딕;
}

.btn_type90 {
	width: 130px;
	height: 30px;
	background-color: #004982;
	font-size: 15px;
	color: white;
	font: 나눔바른고딕;
}

section {
	width: 960px;
	height: 1100px;
	margin: 0px auto;
}

.acontents {
	width: 1000px;
}

.box0 {
	float: left;
	width: 1000px;
	height: 900px;
	border: 1px solid #BDBDBD;
	text-align: center;
	font-size: 18px;
}

.box1 {
	float: left;
	width: 150px;
	height: 190px;
	border: 2px solid #BDBDBD;
	text-align: center;
	font-size: 18px;
}

.box2 {
	float: right;
	width: 740px;
	margin-right: 100px;
	height: 190px;
	border: 2px solid #BDBDBD;
}

.box3 {
	float: left;
	width: 150px;
	height: 130px;
	border: 2px solid #BDBDBD;
	text-align: center;
	font-size: 18px;
}

.box4 {
	float: right;
	width: 740px;
	margin-right: 100px;
	height: 130px;
	border: 2px solid #BDBDBD;
}

.box5 {
	float: left;
	width: 150px;
	height: 330px;
	border: 2px solid #BDBDBD;
	text-align: center;
	font-size: 18px;
}

.box6 {
	float: right;
	width: 740px;
	margin-right: 100px;
	height: 330px;
	border: 2px solid #BDBDBD;
}

.box7 {
	width: 300px;
	margin: auto;
	height: 500px;
	border: 1px solid #BDBDBD;
	padding: 20px;
}

.box8 {
	float: left;
	width: 350px;
	margin-right: 10px;
	height: 180px;
	border: 1px solid #BDBDBD;
	padding: 20px;
}

.box9 {
	float: left;
	width: 350px;
	margin-left : 10px;
	height: 180px;
	border: 1px solid #BDBDBD;
	padding: 20px;
}

.box10 {
	width: 500px;
	margin: auto;
	height: 500px;
	border: 1px solid #BDBDBD;
}

.box11 {
	width: 400px;
	margin: auto;
	height: 550px;
	border: 1px solid #BDBDBD;
	padding: 20px;
}

.user {
	width: 130px;
	height: 100px;
	margin-left: 20px;
	margin-top: 10px;
}

.profile-font {
	margin-top: 20px;
	margin-left: 20px;
}

.cminfobox1 {
	width: 350px;
	margin: auto;
	height: 200px;
	border: 1px solid #BDBDBD;
	padding: 10px;
}